{
    "extends": "stylelint-config-htmlacademy",
    "ignoreFiles": ["source/less/general/normalize.less"],

    "rules": {
        "declaration-no-important": true,
        "indentation": [4, {"ignore": ["inside-parens"]}]
    }
}
