<section class="chapter">
    <div class="chapter__heading">
        <h3 class="chapter__title" id="group-{{kebab title}}">{{title}}</h3>
        <div class="chapter__content">
            {{{content}}}
        </div>
    </div>
</section>
