<section class="group">
    <div class="group__heading">
        <h2 class="group__title" id="group-{{kebab title}}">{{title}}</h2>
    </div>

    <div class="group_content">
        {{{content}}}
    </div>
</section>
